@model LojaYgor3.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nome</dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>E-Mail</dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>CPF</dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Atualiza", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
